<div class="col-xs-12">
  <div class="well margin-top-sm student-schedule-header">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h3>Student Schedule</h3>
        <a href="{{linkToDashboard}}" id="lnkBack"><i class="fa fa-long-arrow-left"></i> Back</a>
      </div>
      <div class="col-xs-12 col-md-4">
        <div>{{student.name}}</div>
        <div>{{student.school}} - {{student.division}}</div>
        <div>{{student.term}}</div>
      </div>
    </div>
  </div>
</div>
