<div class="row">
  <div class="col-xs-6 text-center">
    <h2 class="school">IAC_LOGO.JPG</h2>
  </div>
  <div class="col-xs-6 text-center">
    <h1 class="scheduleName">{{student.name}}'s Schedule</h1>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 text-center">{{getMajorName()}}</div>
  <div class="col-xs-3 text-center">{{session}}</div>
  <div class="col-xs-3 text-center">{{student.division}}</div>
  <div class="col-xs-3 text-center">{{student.cabin}}</div>
  <div class="col-xs-12">
    <hr/>
  </div>
</div>
