<div *ngFor="let day of sortedDays" class="px-2 w-100">
  <div class="row">
    <div class="day-name col-12">{{dayNames[day]}}</div>
  </div>
  <div class="row">
    <iee-list-item *ngFor="let c of scheduleByDay.get(day); let p = index"
                   [day]="day"
                   [division]="division"
                   [timesByDivision]="timesByDivision"
                   [course]="c"
                   [firstPeriod]="firstPeriodByDay.get(day)"
                   [period]="p"
                   class="w-100"></iee-list-item>
  </div>
</div>
