<div class="well margin-top-sm" id="filterContainer" [ngClass]="{'dBg': alt}">
  <div class="row">

    <div class="col-12">
      <fieldset class="row px-4">
        <legend [ngClass]="{'alt': alt}">Filter By:</legend>

        <div class="col-12 col-md-6">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="termFilter">Term:</label>
              <select #term class="w-100" id="termFilter" (change)="onChangeTerm()">
              </select>
            </div>

            <div class="form-group col-12">
              <label for="sessionFilter">Session:</label>
              <select #session class="w-100" id="sessionFilter">
                <option value="">Show All</option>
                <option value="1st 2 weeks">1st 2 weeks</option>
                <option value="2nd 2 weeks">2nd 2 weeks</option>
                <option value="3rd 2 weeks">3rd 2 weeks</option>
                <option value="1st 3 weeks">1st 3 weeks</option>
                <option value="2nd 3 weeks">2nd 3 weeks</option>
              </select>
            </div>

            <div class="form-group col-12">
              <label for="arrivalWeekFilter">Arrival Week:</label>
              <select #arrival class="w-100" id="arrivalWeekFilter">
                <option value="">Show All</option>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="divisionFilter">Division:</label>
              <select #division class="w-100" id="divisionFilter">
                <option value="">Show All</option>
                <option value="Junior">Junior</option>
                <option value="Intermediate">Intermediate</option>
                <option value="High School">High School</option>
              </select>
            </div>

            <div class="form-group col-12">
              <label for="housingDivisionFilter">Housing Division:</label>
              <select #housingDivision class="w-100" id="housingDivisionFilter">
                <option value="">Show All</option>
                <option value="JB">Junior Boys</option>
                <option value="JG">Junior Girls</option>
                <option value="IB">Intermediate Boys</option>
                <option value="IGL">Intermediate Girls Lakeside</option>
                <option value="IGM">Intermediate Girls Meadow</option>
                <option value="HSB">High School Boys</option>
                <option value="HSG">High School Girls</option>
              </select>
            </div>

            <div class="form-group col-12">
              <label for="cabinFilter">Cabin:</label>
              <select multiple #cabin class="w-100" id="cabinFilter">
                <option value="">Show All</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row flex-row">
    <div class="col-12 col-md-6 student-count"
         [ngClass]="{'alt': alt}">
      <h1 *ngIf="schedules && schedules.length > 0">Students found: {{uniqueStudentCount}}</h1>
    </div>

    <div class="col-12 col-md-6 text-right">
      <a href='javascript:void(0);' class="btn btn-default" (click)="getBatchSchedule()" *ngIf="alt === false">
        <i class="fa fa-star-half" aria-hidden="true"></i> Get Schedules <i class="fa fa-star-half fa-flip-horizontal"
                                                                            aria-hidden="true"></i></a>
      <a href='javascript:void(0);' class="btn btn-default" (click)="print()"
         *ngIf="alt === false && schedules && schedules.length > 0">
        <i class="fa fa-print" aria-hidden="true"></i> Print</a>

      <a href='javascript:void(0);' class="tButton" (click)="getBatchSchedule()" *ngIf="alt === true">
        <i class="fa fa-star-half" aria-hidden="true"></i> Get Schedules <i class="fa fa-star-half fa-flip-horizontal"
                                                                            aria-hidden="true"></i></a>
      <a href='javascript:void(0);' class="blButton" (click)="print()" *ngIf="alt === true && schedules && schedules.length > 0">
        <i class="fa fa-rocket" aria-hidden="true"></i> Print</a>
    </div>
  </div>
</div>

<div *ngIf="loadingBatch && alt === false">
  <i class="fa fa-fw fa-spinner fa-pulse" aria-hidden="true"></i> Loading...
</div>
<div *ngIf="loadingBatch && alt === true"><i class="fa fa-fw fa-spin fa-star fa-2x" aria-hidden="true"></i>
  <i class="fa fa-fw fa-spin fa-bath fa-2x" aria-hidden="true"></i>
  <i class="fa fa-fw fa-spin fa-eye fa-2x" aria-hidden="true"></i> Loading...
  <i class="fa fa-fw fa-spin fa-recycle fa-2x" aria-hidden="true"></i>
  <i class="fa fa-fw fa-spin fa-coffee fa-2x" aria-hidden="true"></i>
  <i class="fa fa-fw fa-spin fa-bed fa-2x" aria-hidden="true"></i>
</div>

<div class="row schedule" *ngFor="let studentSchedule of schedules">
  <div class="col-print-12 col-12">
    <div class="well margin-top-sm">
      <iee-print-header [student]="studentSchedule.student"
                        [session]="studentSchedule.campSession"></iee-print-header>
      <iee-matrix [sessionSchedule]="studentSchedule.schedule"
                  [division]="studentSchedule.student.division"
                  [timesByDivision]="timesByDivision"></iee-matrix>
    </div>
  </div>
</div>
