<div class="well margin-top-sm" id="filterContainer">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <fieldset>
        <legend>Filter By:</legend>

        <div class="form-group">
          <label for="termFilter">Term:</label>
          <select #term class="form-control" id="termFilter" (change)="onChangeTerm()">
          </select>
        </div>

        <div class="form-group">
          <label for="cabinFilter">Cabin:</label>
          <select #cabin class="form-control" id="cabinFilter">
            <option value="">Show All</option>
          </select>
        </div>

        <div class="form-group">
          <label for="divisionFilter">Division:</label>
          <select #division class="form-control" id="divisionFilter">
            <option value="">Show All</option>
            <option value="Junior">Junior</option>
            <option value="Intermediate">Intermediate</option>
            <option value="High School">High School</option>
          </select>
        </div>

        <div class="form-group">
          <label for="housingDivisionFilter">Housing Division:</label>
          <select #housingDivision class="form-control" id="housingDivisionFilter">
            <option value="">Show All</option>
            <option value="JB">Junior Boys</option>
            <option value="JG">Junior Girls</option>
            <option value="IB">Intermediate Boys</option>
            <option value="IGL">Intermediate Girls Lakeside</option>
            <option value="IGM">Intermediate Girls Meadow</option>
            <option value="HSB">High School Boys</option>
            <option value="HSG">High School Girls</option>
          </select>
        </div>

        <div class="form-group">
          <label for="arrivalDateFilter">Arrival Date:</label>
          <select #arrival class="form-control" id="arrivalDateFilter">
            <option value="">Show All</option>
          </select>
        </div>
      </fieldset>
    </div>

    <div class="col-xs-12 col-md-6">
      <fieldset>
        <legend>Sort By:</legend>
        <div class="form-group">
          <select #sortField
                  class="form-control"
                  (change)="onSortSchedules($event, sortField.value)">
            <option value="cabin">Cabin</option>
            <option value="division">Division</option>
            <option value="lastName">Last Name</option>
            <option value="housing">Housing Division</option>
          </select>
        </div>
      </fieldset>
    </div>

    <div class="col-xs-12 text-right">
      <a class="btn btn-default" (click)="getBatchSchedule()">
        <i class="fa fa-star-half" aria-hidden="true"></i> Get Schedules <i class="fa fa-star-half" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<div *ngIf="loadingBatch"><i class="fa fa-fw fa-spinner fa-pulse" aria-hidden="true"></i> Loading...</div>

<div class="row" *ngFor="let studentSchedule of schedules">
  <div class="col-print-12 col-xs-12">
    <div class="well margin-top-sm">
      <iee-print-header [student]="studentSchedule.student"
                        [session]="studentSchedule.campSession"></iee-print-header>
      <iee-matrix [sessionSchedule]="studentSchedule.schedule"
                  [division]="studentSchedule.student.division"
                  [timesByDivision]="timesByDivision"></iee-matrix>
    </div>
  </div>
</div>
