@media print {
  html {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 0 !important;
    border: 1px solid;
  }

  #filterContainer {
    display: none;
  }

  .row.schedule {
    display: block;
    page-break-after: always;
  }
}

.tButton, .lButton, .blButton {
  display: inline-block;
  width: 206px;
  height: 137px;
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding-top: 90px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 2px 5px #333;

  &:link, &:hover, &:visited, &:active {
    color: white;
    text-decoration: none;
  }
}

.tButton {
  background-image: url(//smithmd.github.io/calendar-react/cdn/tet-T.png);
}

.lButton {
  background-image: url(//smithmd.github.io/calendar-react/cdn/tet-L.png);
}

.blButton {
  background-image: url(//smithmd.github.io/calendar-react/cdn/tet-bL.png);
}

.flex-row {
  display: flex;
}

.student-count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

div.alt {
  font-family: Papyrus, fantasy;

  & > h1 {
    font-family: Papyrus, fantasy;
  }
}

legend.alt {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#filterContainer {
  position: relative;
}

.dBg {
  position: relative;
  background: none;

  @media screen {
    &::after {
      content: "";
      background-image: url(//upload.wikimedia.org/wikipedia/commons/2/22/Charles_R._Knight_New_Years%27s_Card.jpg);
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
