<div class="row">
  <iee-header [student]="student" [educationId]="educationId"></iee-header>
</div>
<div class="row">
  <div class="col-xs-12 text-right buttons">
    <a class="btn btn-default"
       [routerLink]="['../','print']"><i class="fa fa-print"
                                         aria-hidden="true"></i> Printable View</a>
  </div>
  <div class="col-xs-12 schedules">
    <ul class="nav nav-tabs">
      <li *ngFor="let session of sessions; let i = index"
          [ngClass]="{'active': (i === activeSessionIndex)}">
        <a data-toggle="tab" [routerLink]="['../', i]">{{session}}</a>
      </li>
    </ul>
    <div class="matrix well" id="matrix-well"
         *ngIf="activeSession && activeSession.toLowerCase().includes('1 week') === false">
      <div *ngIf="!isMobile">
        <div>
          <h3>{{student.getMajorBySessionName(activeSession)}}</h3>
        </div>
        <iee-matrix [sessionSchedule]="activeSchedule"
                    [timesByDivision]="timesByDivision"
                    [division]="student.division"></iee-matrix>
      </div>
      <div *ngIf="isMobile">
        <iee-list-view [sessionSchedule]="activeSchedule"
                       [timesByDivision]="timesByDivision"
                       [division]="student.division"></iee-list-view>
      </div>
    </div>
    <div class="matrix well" id="institute-well"
         *ngIf="activeSession && activeSession.toLowerCase().includes('1 week')">
      <div>
        {{student.getMajorBySessionName(activeSession)}}
      </div>
      <embed *ngIf="instituteSchedule && instituteSchedule.pdfLink"
             [src]="instituteSchedule.pdfLink | safeUrl"
             width="100%" height="600" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
  </div>
</div>
