.row {
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: 0 1em;
}
.course {
  border-left: 1px solid gray;
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.course.no-border {
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.course.border-top {
  border-top: 1px solid gray;
}
.course.border-bottom {
  border-bottom: 1px solid gray;
}
.course.border-right {
  border-right: 1px solid gray;
}
.course .name {
  font-weight: bold;
}
.period-number-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen {
  .header-cell,
  .period-number-cell {
    background-color: #a7e6fb;
  }
}
