<div [ngClass]="{'no-border': periodNumber === 0, 'period-number-cell': periodNumber > 0}"
     class="course border-bottom text-center">
  <div class="period-number" *ngIf="periodNumber > 0">Period {{periodNumber}}</div>
</div>
<div class="course"
     *ngFor="let d of periodDays"
     [ngClass]="{'border-bottom': periodNumber === 0 || periodNumber > 0 && printBottomBorder(getCourseForDay(d)),
              'border-top': periodNumber === 0,
              'border-right': printRightBorder(d),
              'header-cell': periodNumber === 0}">
  <div *ngIf="periodNumber === 0" class="text-center">
    {{getCourseForDay(d).getDayName(d)}}
  </div>
  <div *ngIf="periodNumber > 0 && displayCourseInfo(getCourseForDay(d))">
    <p class="name">{{getCourseForDay(d).courseName}}</p>
    <p class="instructor">{{getCourseForDay(d).instructor}}</p>
    <p class="location">{{getCourseForDay(d).location}}</p>
  </div>
</div>
