<div class="row">
  <div [ngClass]="{'no-border': periodNumber === 0}" class="course border-bottom">
    <span *ngIf="periodNumber > 0">Period {{periodNumber}}</span>
  </div>
  <div class="course"
       *ngFor="let d of periodDays"
       [ngClass]="{'border-bottom': periodNumber === 0 || periodNumber > 0 && printBottomBorder(getCourseForDay(d)),
              'border-top': periodNumber === 0,
              'border-right': printRightBorder(d)}">
    <div *ngIf="periodNumber === 0">
      {{getCourseForDay(d).getDayName(d)}}
    </div>
    <div *ngIf="periodNumber > 0 && displayCourseInfo(getCourseForDay(d))">
      <p>{{getCourseForDay(d).courseName}}</p>
      <p>{{getCourseForDay(d).instructor}}</p>
      <p>{{getCourseForDay(d).location}}</p>
    </div>
  </div>
</div>
