.period {
  background: #ebebeb;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-info {
  background: #fbfafa;
}
.course-info.zebra {
  background: #f6f6f6;
}
.course-info,
.period {
  border-top: 1px solid white;
  padding: 0.5em 1em;
}
.course-container {
  display: flex;
}
